<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}layout 后台大布局 - Layui{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'backend/style.css' %}">
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'backend/jquery.min.js' %}"></script>
    <script src="{% static 'backend/pro.js' %}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">通用后台</div>
        {# 头部区域（可配合layui已有的水平导航）  #}
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layui-this"><a href="">系统管理</a></li>
            <li class="layui-nav-item layui-this"><a href="">商品管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
            </li>
            <li class="layui-nav-item"><a href="/admin.php/Login/logout">登出</a></li>
        </ul>
    </div>

    {# 左侧导航区 #}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            {# 左侧导航区域（可配合layui已有的垂直导航）  #}
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="">按钮管理</a></dd>
                        <dd class=""><a href="">模块管理</a></dd>
                        <dd class=""><a href="">角色管理</a></dd>
                        <dd class=""><a href="">管理员管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    {# 内容区 #}
    {% block mycontainer %}
        <div class="layui-body mycontainer">
            <p class="layui-btn-normal">Layui</p>
        </div>
    {% endblock mycontainer %}

    {# 底部区域 #}
    <div class="layui-footer">
        {# 底部固定区域 #}
        power by 马栋梁
    </div>
</div>
</body>
</html>